* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
}



.InputTextBar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 30px 150px;
  background-color: #ff4d4d;

}

.InputTextBar h1 {
  margin-bottom: 10px;
  color: white;
  font-size: xxx-large;
}

.InputTextBar strong {
  margin-bottom: 5px;
  color: white;
  font-size: large;
  font-weight: 400;
}

.InputTextBar strong span {
  color: black;
}

.InputTextBar input {
  display: block;
  width: 100%;
  height: 30px;
}



.FilterBar {  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 150px;
  background-color: #f2f2f2;
}

.FilterBar-left {
  margin-right: 30px;
  width: 100%;
}

.FilterBar-right {
  width: 100%;
}

.FilterBar label {
  display: block;
  transform: translateY(-15%);
  color: gray;
  font-size: small;
}

.FilterBar select {
  display: block;
  width: 100%;
  height: 30px;
  color: gray;
}

.FilterBar input {
  display: block;
  width:100%;
  height: 30px;
}



.ItemBox {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px 80px 10px 80px;
  height: auto;
  background-color: #e6e6e6;
}



.Item {
  width: 30%;
  height: 180px;
  margin: 10px 15px;
  padding: 10px 10px;
  background-color: wheat;
  box-shadow: 5px 10px 18px #888888;
}

.Item label {
  font-size: large;
}

.Item textarea {
  background-color: wheat;
  width: 100%;
  height: 70%;
  border-style: none;
  color: black;
  font-size: large;
}